<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>算法结果</title>
    <link href="../styles/drawstyle.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>关联规则挖掘</h1>
    </header>
    <nav>
      <ul class="list1">
        <li> <a href="index.html">主页</a></li>
        <li> <a href="drawpic.html">算法运行</a></li>
      </ul>
    </nav>
    <div id="functionbox">
      <div id="ruleDisplay">
                <div class="singleRule">
                  <p class="ruleItem">&quot;源是什么目的是什么&quot;</p>
                  <button>显示运行图</button>
                </div>
                <div class="singleRule">
                  <p class="ruleItem">&quot;yuanmudinsghisdifjlw krjf s,dfns,df sdfs&quot;</p>
                  <button>显示运行图</button>
                </div>
      </div>
      <div id="svgplace"></div>
    </div>
    <p id="hiddenv">[{&quot;src_id&quot;:&quot;25888&quot;,&quot;src_name&quot;:&quot;SCTP链路故障告警&quot;,&quot;des_id&quot;:&quot;29201&quot;,&quot;des_name&quot;:&quot;S1接口故障告警&quot;}]
      <!--使用后台传的数据-->
    </p>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="../scripts/drawpage.js" type="text/javascript">   </script>
  </body>
</html>