<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>算法结果</title>
    <link href="D:/study/codepractice/dailyPra/associaterule/styles/drawstyle.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>关联规则挖掘</h1>
    </header>
    <nav>
      <ul class="list1">
        <li> <a href="index.html">主页</a></li>
        <li> <a href="drawpic.html">算法运行</a></li>
      </ul>
    </nav>
    <div id="functionbox">
      <div id="ruleDisplay">
                <div class="singleRule">
                  <p class="ruleItem">源是什么目的是什么</p>
                  <button>显示运行图</button>
                </div>
                <div class="singleRule">
                  <p class="ruleItem">yuanmudinsghisdifjlw krjf s,dfns,df sdfs</p>
                  <button>显示运行图</button>
                </div>
      </div>
    </div>
    <div id="svgplace"></div>
  </body>
</html>