<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>告警数据</title>
    <link href="styles/drawstyle.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>关联规则挖掘</h1>
    </header>
    <nav>
      <ul class="list1">
        <li> <a href="index.html">主页</a></li>
        <li> <a href="drawpic.html">告警数据</a></li>
      </ul>
    </nav>
    <div id="functionbox">
      <table id="ruleDispaly" border>
        <thead>
          <tr></tr>
          <th>a</th>
          <th>b</th>
          <th>c</th>
        </thead>
        <tr>
          <td>我是</td>
          <td>sheme</td>
          <td>nothing</td>
        </tr>
        <tr>
          <td>我s是</td>
          <td>shseme</td>
          <td>notshing</td>
        </tr>
        <tr>
          <td>我q是</td>
          <td>shemea</td>
          <td>nothinga</td>
        </tr>
      </table>
    </div>
  </body>
</html>