<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>关联规则挖掘</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/ruleDisplay_b.css" rel="stylesheet">
  </head>
  <body>
    <header class="container-fluid">
      <p class="col-md-12">关联规则挖掘</p>
    </header>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2">
          <ul class="nav nav-pills nav-stacked navbar-inverse">
            <li><a href="index.html">首页</a></li>
            <li class="active"><a href="drawpic.html">关联规则</a></li>
            <li><a href="#">根因图分析</a></li>
          </ul>
          <div></div>
        </nav>
        <div class="col-md-10 content">
          <!--no class"content"-->
          <div class="row">
            <p class="col-md-10 col-md-offset-1 head_title"> 关联规则挖掘 > 关联规则</p>
            <div class="col-md-10 col-md-offset-1 formlist">
              <div id="functionbox">
                <div class="input_title">
                  <h5>规则表格</h5>
                  <hr>
                </div>
                <table id="ruleDisplay" class="table table-striped">
                  <thead id="btn">
                    <tr>
                      <th>xId</th>
                      <th>xName</th>
                      <th>xSupport</th>
                      <th>yId</th>
                      <th>yName</th>
                      <th>ySupport</th>
                      <th>xySupport</th>
                      <th>confidence</th>
                    </tr>
                  </thead>
                  <tbody id="list">
                                    <tr>
                                      <td>26322</td>
                                      <td>BBU IR光模块收发异常告警</td>
                                      <td>771</td>
                                      <td>29240</td>
                                      <td>小区不可用告警</td>
                                      <td>2616</td>
                                      <td>2616</td>
                                      <td>0.9969498650729749</td>
                                    </tr>
                                    <tr>
                                      <td>26540</td>
                                      <td>射频单元交流掉电告警</td>
                                      <td>716</td>
                                      <td>29248</td>
                                      <td>射频单元业务不可用告警</td>
                                      <td>1903</td>
                                      <td>1903</td>
                                      <td>0.9799155323891139</td>
                                    </tr>
                                    <tr>
                                      <td>26235</td>
                                      <td>射频单元维护链路异常告警</td>
                                      <td>1465</td>
                                      <td>29248</td>
                                      <td>射频单元业务不可用告警</td>
                                      <td>1871</td>
                                      <td>1871</td>
                                      <td>0.9979902141725749</td>
                                    </tr>
                                    <tr>
                                      <td>29204</td>
                                      <td>X2接口故障告警</td>
                                      <td>745</td>
                                      <td>25952</td>
                                      <td>用户面承载链路故障告警</td>
                                      <td>1067</td>
                                      <td>1067</td>
                                      <td>0.9914796561757748</td>
                                    </tr>
                                    <tr>
                                      <td>29248</td>
                                      <td>射频单元业务不可用告警</td>
                                      <td>1318</td>
                                      <td>26235</td>
                                      <td>射频单元维护链路异常告警</td>
                                      <td>1021</td>
                                      <td>1021</td>
                                      <td>0.995856909696622</td>
                                    </tr>
                                    <tr>
                                      <td>26540</td>
                                      <td>射频单元交流掉电告警</td>
                                      <td>513</td>
                                      <td>26235</td>
                                      <td>射频单元维护链路异常告警</td>
                                      <td>973</td>
                                      <td>973</td>
                                      <td>0.997535168960709</td>
                                    </tr>
                                    <tr>
                                      <td>25952</td>
                                      <td>用户面承载链路故障告警</td>
                                      <td>783</td>
                                      <td>29204</td>
                                      <td>X2接口故障告警</td>
                                      <td>716</td>
                                      <td>716</td>
                                      <td>0.9880800816624699</td>
                                    </tr>
                                    <tr>
                                      <td>26540</td>
                                      <td>射频单元交流掉电告警</td>
                                      <td>1104</td>
                                      <td>29240</td>
                                      <td>小区不可用告警</td>
                                      <td>643</td>
                                      <td>643</td>
                                      <td>0.9964856723618457</td>
                                    </tr>
                                    <tr>
                                      <td>29213</td>
                                      <td>基站S1控制面传输中断告警</td>
                                      <td>354</td>
                                      <td>25954</td>
                                      <td>用户面故障告警</td>
                                      <td>552</td>
                                      <td>552</td>
                                      <td>0.9814828934315233</td>
                                    </tr>
                                    <tr>
                                      <td>29240</td>
                                      <td>小区不可用告警</td>
                                      <td>354</td>
                                      <td>26235</td>
                                      <td>射频单元维护链路异常告警</td>
                                      <td>497</td>
                                      <td>497</td>
                                      <td>0.995499695715801</td>
                                    </tr>
                                    <tr>
                                      <td>26538</td>
                                      <td>射频单元时钟异常告警</td>
                                      <td>82</td>
                                      <td>29248</td>
                                      <td>射频单元业务不可用告警</td>
                                      <td>418</td>
                                      <td>418</td>
                                      <td>0.8777391014499808</td>
                                    </tr>
                                    <tr>
                                      <td>26324</td>
                                      <td>BBU IR接口异常告警</td>
                                      <td>121</td>
                                      <td>29240</td>
                                      <td>小区不可用告警</td>
                                      <td>381</td>
                                      <td>381</td>
                                      <td>0.987140535599636</td>
                                    </tr>
                                    <tr>
                                      <td>25888</td>
                                      <td>SCTP链路故障告警</td>
                                      <td>281</td>
                                      <td>29201</td>
                                      <td>S1接口故障告警</td>
                                      <td>274</td>
                                      <td>274</td>
                                      <td>0.9215014137813541</td>
                                    </tr>
                                    <tr>
                                      <td>26503</td>
                                      <td>射频单元光模块收发异常告警</td>
                                      <td>90</td>
                                      <td>29248</td>
                                      <td>射频单元业务不可用告警</td>
                                      <td>206</td>
                                      <td>206</td>
                                      <td>0.9055128989086778</td>
                                    </tr>
                                    <tr>
                                      <td>26322</td>
                                      <td>BBU IR光模块收发异常告警</td>
                                      <td>21</td>
                                      <td>29248</td>
                                      <td>射频单元业务不可用告警</td>
                                      <td>204</td>
                                      <td>204</td>
                                      <td>0.9504719271495267</td>
                                    </tr>
                                    <tr>
                                      <td>26819</td>
                                      <td>配置数据超出License限制告警</td>
                                      <td>148</td>
                                      <td>29240</td>
                                      <td>小区不可用告警</td>
                                      <td>174</td>
                                      <td>174</td>
                                      <td>0.9871865206856029</td>
                                    </tr>
                                    <tr>
                                      <td>26214</td>
                                      <td>单板下电告警</td>
                                      <td>152</td>
                                      <td>29240</td>
                                      <td>小区不可用告警</td>
                                      <td>174</td>
                                      <td>174</td>
                                      <td>0.9533952708346205</td>
                                    </tr>
                                    <tr>
                                      <td>25954</td>
                                      <td>用户面故障告警</td>
                                      <td>223</td>
                                      <td>29213</td>
                                      <td>基站S1控制面传输中断告警</td>
                                      <td>153</td>
                                      <td>153</td>
                                      <td>0.9864050786209174</td>
                                    </tr>
                                    <tr>
                                      <td>26819</td>
                                      <td>配置数据超出License限制告警</td>
                                      <td>148</td>
                                      <td>26214</td>
                                      <td>单板下电告警</td>
                                      <td>152</td>
                                      <td>152</td>
                                      <td>0.9665709693764174</td>
                                    </tr>
                                    <tr>
                                      <td>26322</td>
                                      <td>BBU IR光模块收发异常告警</td>
                                      <td>65</td>
                                      <td>26235</td>
                                      <td>射频单元维护链路异常告警</td>
                                      <td>107</td>
                                      <td>107</td>
                                      <td>0.9937574494528026</td>
                                    </tr>
                                    <tr>
                                      <td>26324</td>
                                      <td>BBU IR接口异常告警</td>
                                      <td>47</td>
                                      <td>26235</td>
                                      <td>射频单元维护链路异常告警</td>
                                      <td>100</td>
                                      <td>100</td>
                                      <td>0.9182527309856443</td>
                                    </tr>
                                    <tr>
                                      <td>26222</td>
                                      <td>传输光接口异常告警</td>
                                      <td>57</td>
                                      <td>25954</td>
                                      <td>用户面故障告警</td>
                                      <td>68</td>
                                      <td>68</td>
                                      <td>0.9031652739499095</td>
                                    </tr>
                                    <tr>
                                      <td>26222</td>
                                      <td>传输光接口异常告警</td>
                                      <td>48</td>
                                      <td>29213</td>
                                      <td>基站S1控制面传输中断告警</td>
                                      <td>50</td>
                                      <td>50</td>
                                      <td>0.9044719169225922</td>
                                    </tr>
                                    <tr>
                                      <td>29213</td>
                                      <td>基站S1控制面传输中断告警</td>
                                      <td>25</td>
                                      <td>29204</td>
                                      <td>X2接口故障告警</td>
                                      <td>32</td>
                                      <td>32</td>
                                      <td>0.9396760700978576</td>
                                    </tr>
                                    <tr>
                                      <td>26235</td>
                                      <td>射频单元维护链路异常告警</td>
                                      <td>263</td>
                                      <td>29240</td>
                                      <td>小区不可用告警</td>
                                      <td>20</td>
                                      <td>20</td>
                                      <td>0.9607288498913734</td>
                                    </tr>
                                    <tr>
                                      <td>26122</td>
                                      <td>星卡锁星不足告警</td>
                                      <td>10</td>
                                      <td>26262</td>
                                      <td>时钟参考源异常告警</td>
                                      <td>19</td>
                                      <td>19</td>
                                      <td>0.8518403890116868</td>
                                    </tr>
                                    <tr>
                                      <td>26503</td>
                                      <td>射频单元光模块收发异常告警</td>
                                      <td>10</td>
                                      <td>26235</td>
                                      <td>射频单元维护链路异常告警</td>
                                      <td>17</td>
                                      <td>17</td>
                                      <td>0.8807083031558273</td>
                                    </tr>
                                    <tr>
                                      <td>29248</td>
                                      <td>射频单元业务不可用告警</td>
                                      <td>47</td>
                                      <td>29240</td>
                                      <td>小区不可用告警</td>
                                      <td>15</td>
                                      <td>15</td>
                                      <td>0.9687039213598683</td>
                                    </tr>
                                    <tr>
                                      <td>25954</td>
                                      <td>用户面故障告警</td>
                                      <td>11</td>
                                      <td>29204</td>
                                      <td>X2接口故障告警</td>
                                      <td>12</td>
                                      <td>12</td>
                                      <td>0.9279731261616987</td>
                                    </tr>
                                    <tr>
                                      <td>29248</td>
                                      <td>射频单元业务不可用告警</td>
                                      <td>27</td>
                                      <td>26503</td>
                                      <td>射频单元光模块收发异常告警</td>
                                      <td>11</td>
                                      <td>11</td>
                                      <td>0.8959291557375412</td>
                                    </tr>
                                    <tr>
                                      <td>29240</td>
                                      <td>小区不可用告警</td>
                                      <td>19</td>
                                      <td>26260</td>
                                      <td>系统时钟不可用告警</td>
                                      <td>10</td>
                                      <td>10</td>
                                      <td>0.8808367598921416</td>
                                    </tr>
                                    <tr>
                                      <td>29240</td>
                                      <td>小区不可用告警</td>
                                      <td>16</td>
                                      <td>25954</td>
                                      <td>用户面故障告警</td>
                                      <td>10</td>
                                      <td>10</td>
                                      <td>0.9777542255759857</td>
                                    </tr>
                  </tbody>
                </table>
                <div><a id="loadbtn" href="/loadRule" class="btn btn-primary col-md-offset-2">保存关联规则</a>
                  <button id="showgraph" type="button" class="btn btn-primary col-md-offset-3">分析关联规则</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../scripts/ruleDisplay_b.js"></script>
  </body>
</html>