body {
    background-color: #f8f9fa;
}
header {
    background-color: rgb(47, 84, 151);
    height: 100px;
}
header h1 {
    text-align: center;
    font-family: sans-serif;
    color: #ffffff;
    position: relative;
    top:30%
}
nav {
    float: left;
    margin-left: 10%;
    width: 12%;
    margin-top:5%;
    height: 500px;
    /*background-color: darkgrey;*/
    border: solid 3px;
    border-color: rgba(0,0,0,.125);
    /*overflow: hidden;*/
    border-radius: 20px;
    /*padding: 2px;*/
    }



nav ul {
    width:auto;
    /*float:left;*/
    overflow: hidden;
    margin: 0px;
    padding: 0px;
   /*border: dotted;*/
    /*border-color: red;*/


}
nav li {
    display: block;
    height: auto;
    /*width: 100%;*/
    margin-top: 5px;
    padding: 5px;
    list-style: none;
    /*border: solid;*/
    /*border-color: black;*/
    margin-left: 0px;

}
nav li a {
    display: block;
    width: 100%;
    padding:5px ;
    /*border: solid 0.5px;*/
    /*border-color: rgba(0,0,0,.125);*/
    text-decoration:none ;
    color: black;
    font-family: sans-serif;
    /*float: left;*/
    text-align: center;
    font-size: 15px;
}
nav li a:hover,nav li a:active,.here {
   background-color: darkgrey;
    color: white;
}
/*nav li a:hover{*/
    /*background-color: darkgrey;*/
    /*color: white;*/
/*}*/
/*nav li a:active{*/
    /*background-color: darkgrey;*/
    /*color: white;*/
/*}*/
/*nav li a:visited{*/
    /*background-color: darkgrey;*/
    /*color: black;*/

/*}*/

#functionbox {
    float: left;
    border: solid 3px;
    border-color: rgba(0,0,0,.125);
    width: 60%;
    height: 800px;
    margin-left: 30px;
    margin-top: 5%;
    border-radius: 20px;
}

#row42 {
    /*display: none;*/
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;

}

#requiredRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    align-content: space-around;

}
svg{
    width: 300px;
    height: 300px;
}

